@font-face {
  font-family: Ringside-Medium;
  src: url(../fonts/Ringside-Medium.otf);
}

@font-face {
  font-family: Ringside-Ultra;
  src: url(../fonts/Ringside-Ultra.otf);
}

@font-face {
font-family: "Buff-B";
src: url("../fonts/Buffon-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Pressuru';
  src: url('Pressuru.eot');
  src: url('Pressuru.eot?#iefix') format('embedded-opentype'),
       url('Pressuru.svg#Pressuru') format('svg'),
       url('Pressuru.ttf') format('truetype'),
       url('Pressuru.woff') format('woff'),
       url('Pressuru.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HappyTimesattheIKOB-Regular';
  src: url('HappyTimesattheIKOB-Regular.eot');
  src: url('HappyTimesattheIKOB-Regular.eot?#iefix') format('embedded-opentype'),
       url('HappyTimesattheIKOB-Regular.svg#HappyTimesattheIKOB-Regular') format('svg'),
       url('HappyTimesattheIKOB-Regular.ttf') format('truetype'),
       url('HappyTimesattheIKOB-Regular.woff') format('woff'),
       url('HappyTimesattheIKOB-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}






@font-face {
font-family: "Ikob";
src: url("../fonts/happy-times-at-the-ikob.otf") format("opentype");
}

body { -webkit-animation:fadein 0.7s; animation:fadein 0.7s }
@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
@keyframes fadein { from {opacity:0} to {opacity:1} }

html {
	background-color: #F9F9F9 !important;
}

body {
	/*font-family: serif !important;*/
	font-family: 'HappyTimesattheIKOB-Regular' !important;
	/*color: rgba(0, 0, 0, 0.86);*/
	color: black !important;
	background-color: #F9F9F9;
	/*font-size: 16px;*/
	transition: background-color 1s ease;
}

.fas {
	color: white !important;
	border-color: white !important;
}

.web-page {
	color: black !important;
}

.head {
	/*height: 80vh !important;*/
	padding-bottom: 0rem !important;
}

a {
	/*color: red !important;*/
	/*text-decoration: underline !important;*/
}

/*#eapps-instagram-feed-1 a {
	display: none;
}*/

.light:hover {
	color: white !important;
}

a:hover {
	color: black !important;
	text-decoration: underline;
}

a i:hover {
	border-bottom: 2px solid currentColor;
}

a i {
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navbar-link:not(.is-arrowless)::after {
	border-color: currentColor !important;
	padding-top: .4px !important;
}



.navbar-item, .navbar-link {
	color: black !important;
}

.dark {
	color: black !important;
}

.project-page {
	background-color: rgb(0, 0, 0);
	color: #F9F9F9 !important;
}

.is-transparent {
	background-color: rgba(255, 255, 255, 0) !important;
	position: fixed !important;
	top: 0;
	right: 0;
	width: 100vw;
}

.info-p {
	text-indent: 10%;
}

.cv {
	font-size: 0.78rem !important; 
}

.beginning {
	margin-top: -50px !important;
}

.name-img {
	margin-bottom: 5%;
	width: 60% !important;
	/*position: fixed !important;*/
}

.light {
	color: #F9F9F9 !important;
}

.ringside {
	font-family: 'Ringside-Medium';
}

h1 {
	/*font-size: 5rem !important;*/
	/*font-family: 'Ringside-Ultra';*/
	font-family: 'Pressuru';
}

h2 {
	font-family: 'Ringside-Medium';
	/*font-family: 'Pressuru';*/
	/*font-family: 'HappyTimesattheIKOB-Regular' !important;*/
}

.title {
	font-size: 3rem !important;
}

.container {
	/*background-color: #F9F9F9 !important;*/
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 480px) {
	body {
			/*color: red;*/
		}
	.sidenav {
			width: 100px;
		}
	.main {
		margin-left: 100px;
	}
}
/*Dynamic Font Size */
/* 16px @ 480px increasing to 32px @ 1920px */
@media (min-width: 480px) {
  :root {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
    /* Where: * 1.1111 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
  /*.title {
  		font-size: 2rem !important;
  	}*/
  
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
  :root {
    font-size: 32px;
  }
 /* .title {
  		font-size: 2rem !important;
  	}*/
 
  
}

/* colours */
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  /*background-color: #4332CF;*/
  background-color: black;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}