@import 'https://fonts.googleapis.com/css?family=Archivo+Black|Vollkorn:400,700|Work+Sans|Yatra+One';

    body {
        font-family: 'Work Sans', Sans;
        font-weight: 400;
        text-decoration:none;
        
        background-attachment: fixed;
        background-position: center; 
        background-size: 40vw;
        cursor:help;
        cursor: url(finger.cur), progress !important;
        cursor: url(lightning.ani), url(lightning.png), progress !important;
    }

    a, u {
    text-decoration: none;
    }

    a:visited { text-decoration: none; color:red; }
    a:hover { text-decoration: none; color:blue; cursor: url(finger.cur), progress !important;}
    a:focus { text-decoration: none; color:red; }
    a:hover, a:active { text-decoration: none; color:black }


    .home-bg {
        background-image: url('center2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 40vw;
    }
    .about-bg {
        background-image: url('faces.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 40vw;
    }
    .animation-bg {
        background-image: url('SWIRL.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 60vw;
    }

    .size {
        width: 45vw;
        height: auto;
        text-align:center;
    }

    .size2 {
        width: auto;
        height: 50vw;
        text-align:center;
    }

    .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);

    .overlay-content {
        height: 100%;
        overflow: scroll;
    }
    }

    .background-content1{
        color:white;
        height: 100%;
        overflow: auto;
        background-image: url('smile.png');
        background-size: 10vw;
        background-position: center; 

        background-color:   rgb(0, 0, 255);
    }

    .background-content2{
        color:black;
        height: 100%;
        overflow: auto;
        
        background-size: 10vw;
        background-position: center; 

        background-color: white;
    }

    .background-content-clear{
        color:black;
        height: 100%;
        overflow: auto;
        
        background-size: 10vw;
        background-position: center; 

        background-color: rgba(0,0,0,0);
    }
    








