@font-face {
    font-family: 'Studio';
    src: url('StudioFeixenSansVariable-Regular.woff2') format('woff2'),
        url('StudioFeixenSansVariable-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

