@font-face {
    font-family: 'Somewhat';
    src: url('/fonts/Somewhat.woff2') format('woff2'),
        url('/fonts/Somewhat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadratik';
    src: url('/fonts/Quadratik.woff2') format('woff2'),
        url('/fonts/Quadratik.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { 
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Crimson Text', serif;
	/*color: #0653fe;
	background-color: #ffffff;*/
	
	color: rgba(0,0,0,.84);
	background-color: #fffbf7;
}

h1 {
	line-height: 1.04;
}

p {
	font-family: 'Crimson Text', serif;
	line-height: 1.58;
}

#somewhat {
	font-family: 'Somewhat';
	font-size: 8px;
	line-height: 10.0;
	padding-top: 15px;
	padding-bottom: 10px;
}

.quad {
	font-family: 'Quadratik';
	/*line-height: 2.0;*/
}

.ghost-input {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: rgba(255, 255, 255, 0);
  /*font-family: Open Sans,Verdana;*/
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}

.table {
	width: 100%;
	text-align: left;
	/*color: blue;*/
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.distort:hover {
	color: red;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
ul.main-menu>li {
    display: inline;
    padding-right: 15px;
}


.container {
	width: 80%;
	margin-left: 10%;
}

main, footer, nav {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5%;
}

footer {
	position: absolute;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
}

a {
	color: rgba(0,0,0,.84);
}

a:hover {
	color: rgba(0,0,0,0);
	
}


/* Variable Size fonts */
/* 16px @ 480px increasing to 32px @ 1920px */
@media (min-width: 480px) {
  :root {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
    /* Where: * 1.1111 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
  :root {
    font-size: 32px;
  }
}

.img-responsive {
  margin-left: 5px;
  margin-top: 10px;
  max-width: 100%; 
  /*display:block; */
  height: auto;
}

#vh-img{
	height: 100vh;
}