body { 
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Crimson Text', serif;
	/*color: #0653fe;
	background-color: #ffffff;*/
	
	color: rgba(0,0,0,.84);
	background-color: #fffbf7;
	
}

h1 {
	line-height: 1.04;
}

p {
	font-family: 'Crimson Text', serif;
	line-height: 1.58;
}

.table {
	width: 100%;
	text-align: left;
	color: blue;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.distort:hover {
	color: red;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
ul.main-menu>li {
    display: inline;
    padding-right: 15px;
}


.container {
	width: 80%;
	margin-left: 10%;
}

main, footer, nav {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5%;
}

footer {
	position: absolute;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
}

a {
	color: rgba(0,0,0,.84);
}

a:hover {
	color: rgba(0,0,0,0);
	
}


/* Variable Size fonts */
/* 16px @ 480px increasing to 32px @ 1920px */
@media (min-width: 480px) {
  :root {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
    /* Where: * 1.1111 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
  :root {
    font-size: 32px;
  }
}

.img-responsive {
  margin-left: 5px;
  margin-top: 10px;
  max-width: 100%; 
  /*display:block; */
  height: auto;
}