/* RYAN SCHEUER HOME PAGE CSS TYPE BEAT */

html,
body {
  height: 100%;
  margin: 0px;
}

:root {
  --main-bg-color: #FFF;
  /*--main-bg-color: #E6E6E6;*/
  /*--main-text-color: #313131;*/
  --main-text-color: #02A4E2;
}

html {
     /*background: rgb(255,117,0)!important;*/
     background-color: var(--main-bg-color) !important;
      
   }
   
   
/* HIDDEN SCROLLBAR */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

article {
  height: 100%;
}

.more-text {
	margin-top: 20px;
}

.se-logo {
	height: 80px;
}

.is-red-text {
	color: #d43232;
}

.sidebar {
	padding: 20px;
	/*background-color: white;*/
}

.new-button {
	position:relative;
	left:-8px;
	top: -8px;
	background-color: #FF1700;
	margin-left:-8px;
	margin-top: -30px;
	margin-bottom: -20px !important;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.has-new-button {
	padding-top: 4px !important;
}

.textbox {
	font-family: 'DM Mono';
}

.site-title {
	font-family: 'Archivo Narrow', sans-serif;
	position: fixed;
}

.section {
	padding: 1.5rem 1.5rem !important;
}



/* SIDEBAR ISSUES */
.issue-title {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 50px;
	font-weight: 600;
	
	text-align: center;
}

.title-section {
	margin-bottom: 90px;
	margin-top: 90px;
}

.issue-item {
	font-family: 'DM Mono', monospace;
	margin-bottom: 25px;
	border: 1px solid var(--main-text-color);
	padding: 15px;
	border-radius: 3px;
}

.issue-item:hover {
	color: var(--main-bg-color);
	background-color: var(--main-text-color);
}

.item-meta {
	font-size: 11px;
	padding-bottom: 5px;
}

.item-name {
	font-weight: bold;
}

.item-img {
	/*padding-top: 8px;*/
	padding-bottom: 5px;
}

.item-type {
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 2px 5px 2px 5px;
	font-size: 9px;
	background-color: black;
	color: white;
	display: none;
}

/* MAIN ARTICLES */
.main-article {
	margin-bottom: 25px;
}

.main-article-title {
	font-size: 38px;
	font-weight: bold;
}

.main-article-subtitle {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	font-size: 26px;
}


/* sidebar bottom info */
#HASH {
  display: flex;
  justify-content: space-between;
}

.scolling{
	position: fixed !important;
	height: 100vh !important;
	overflow-y: scroll !important;
}

.body-font {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: 400;
	color: var(--main-text-color);
	/*font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Icons /*!System*!/;*/
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit !important;
}

ol {
    margin:0px 0;
    padding:0;
    list-style: decimal inside ;
}

ol li 
{
    margin: 0px;
    padding: 0px;
    /*text-indent: -2.2em;*/
    margin-left: 1.2em;
}

ol li:hover 
{
    /*color: #2291ff;*/
}

/* ++++++ SCROLL COLUMNS */

.wrap {
  display: flex;
}

.left {
  flex-basis: 30%;
  height: 100vh; 
  overflow: auto;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
}

.right {
  flex-basis: 70%;
  
  height: 100vh; 
  overflow: auto;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
}

/* ++++ IMAGE ANIMATION */

.image-spin {
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    top: 10%;
    left: 40%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* TOP LINKS */
.info-instagram {
	position: absolute;
	top: 20px;
	right: 10px;
	text-align: right;
}

.info-instagram span{
	margin-right: 15px;
}

/* GRADIENT */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77b44b+0,ffcb1d+50,ff7500+100 */
.my-gradient {
	background: rgb(119,180,75); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(119,180,75) 0%, rgb(255,203,29) 50%, rgb(255,117,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(119,180,75) 0%,rgb(255,203,29) 50%,rgb(255,117,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background: linear-gradient(to bottom, rgb(119,180,75) 0%,rgb(255,203,29) 50%,rgb(255,117,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b44b', endColorstr='#ff7500',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
}




/* INFO */

.information {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	position: fixed;
	top: 40%;
	left: 40%;
	text-align: center;
}

.hidden {
	display: none;
}

.portrait {
	width: 150px;
	height: auto;
}





/* PROJECT PAGES */

.project-title {
	margin-top: 20px;
	margin-bottom: 50px;
}

.small-text {
	font-size: 0.83rem;
	line-height: 1.4;
	margin-top: 8px;
}

.project-body p{
	text-indent: 50px;
	margin-bottom: 10px;
}

.project-column {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}





/* RESPONSIVE STUFF */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .wrap {
  	flex-direction: column;
  }
  
  .left {
  	/*height: auto;*/
  }
  
  .right {
  	height: auto;
  }
  
  .information {
  	position: absolute;
  	top: 50%;
  	left: 20%;
  	text-align: center;
  	background-color: rgba(255, 255, 255, 0.9);
  	padding: 15px;
  	border-radius: 10px;
  	z-index: 10;
  }
  

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
	.site-title {
		position: relative !important;
	}
	
	.information {
		position: absolute;
		top: 50%;
		left: 20%;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 15px;
		border-radius: 10px;
		z-index: 10;
	}
	
	
}












