@font-face {
  font-family: "DharmaGH";
  src: url(./DharmaGothicM-Heavy.otf);
}

@font-face {
  font-family: "DharmaSB";
  src: url(./DharmaSlabM-Bold.otf);
}

@font-face {
  font-family: "DharmaSR";
  src: url(./DharmaSlabM-Regular.otf);
}

body {
	background-color: #0a0c0b;
	
}

.hero-body {
	padding: 0px !important;
}

.extra-padding {
	padding: 20px;
}

.title-main {
	letter-spacing: -4px !important;
	font-family:"DharmaGH";
	font-size: 100px;
	color: #89fc6b;
	text-align: center;
}

:root {
  --gunmetal-gray: black;
  background: var(--gunmetal-gray);
}

.inner-shadow-main {
	font-size: 48px;
	padding-bottom: 0.35rem;
	font-variant-caps: all-small-caps;
	background-color: var(--gunmetal-gray);
	/*color: transparent;*/
	text-shadow: 0px 0px 4px rgba(119, 250, 92, 0.9);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	/*background-clip: text;*/
	/*filter: brightness(3);*/
}

.title-main-sub {
	font-family:"DharmaSB";
	font-size: 84px;
	color: #fe460f;
	text-align: center;
	text-shadow: 0 0 5px #ed0000;
}

.title-main-body {
	font-family:"DharmaSR";
	font-size: 30px;
	color: #abcdfa;
	text-shadow: 0 0 8px #1336ac;
	text-align: center;
}

/*77fa5c*/

.inner-shadow-1 {
   -moz-box-shadow:    inset 0 0 3px #b5d6ff;
   -webkit-box-shadow: inset 0 0 3px #b5d6ff;
   box-shadow:         inset 0 0 3px #b5d6ff;
}

.a1 {
    width:10%;
    height:22px;
    background-color:#abcdfa;
    display: inline-block;
	box-shadow: -1px 1px 3px #1336ac;
}

.a2 {
    width:16%;
    height:22px;
    background-color:#abcdfa;
    display: inline-block;
	box-shadow: -1px 1px 5px #1336ac;
}

.a3 {
    width:30%;
    height:22px;
    background-color:#abcdfa;
    display: inline-block;
	box-shadow: -1px 1px 5px #1336ac;
}

.a4 {
    width:14%;
    height:22px;
    background-color:#abcdfa;
    display: inline-block;
	box-shadow: -1px 1px 5px #1336ac;
}

.along {
    width:100%;
    height:22px;
    background-color:#abcdfa;
    display: inline-block;
	box-shadow: -1px 1px 2px #1336ac;
}

.right-just {
	text-align: right;
}

.blue-bg {
	background-color: #0091FF;
}

.card {
	border-radius: 4px;
	margin: 20px;
}

.card-header {
	box-shadow: none;
}

.card-footer {
	border-top: none;
}

.card-footer-item {
	border-right: none !important;
}

.card-header-title {
	font-family:"TeXR";
	font-weight: 200;
}

.arrow-down {
	position: absolute;
	bottom: 30px;
	left: 30px;
	font-size: 50px;
	opacity: 0.3;
}

.hero {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: -50px;
}



.price-button {
	font-family: "TeXR";
	background-color: #FFD556;
	padding-left: 14px !important;
	padding-right: 14px !important;
	padding-bottom: 14px !important;
	padding-top: 16px;
	width: 65px;
	height: 65px;
	text-align: center;
	font-size: 20px;
	color: black;
	position: absolute;
	bottom: -18px;
	right: -28px;
	border-radius: 80px;
}