
@font-face {
font-family: "RSAuto";
src: url("RSAutoGX.ttf");
}

body {
	padding: 10px;
	margin: auto;
	overflow-x: hidden;
}

#flexbox {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#controls {
	flex: 0 1 auto;
	background-color: transparent;
	margin: 2px 0 0 0;
	padding: 0;
	width: 100%;
	border: 0px solid transparent;
	height: auto;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
			
/* CUSTOM FONTS*/

@font-face {
font-family: "RudFont";
src: url("RUDGX.ttf");
}

@font-face {
font-family: "RaineFont";
src: url("RSRaineGX.ttf");
}

@font-face {
font-family: "BiotinFont";
src: url("Biotin-Regular.otf");
}

@font-face {
font-family: "HiTideR";
src: url("RSHiTide-Regular.otf");
}

@font-face {
font-family: "HiTideS";
src: url("RSHiTide-Rounded.otf");
}

@font-face {
font-family: "RSProfessor";
src: url("RSProfessor-Regular.otf");
}

@font-face {
font-family: "RSCursed";
src: url("RSCursedGX.ttf");
}

@font-face {
font-family: "RSSoftcore";
src: url("RSSoftcore-SPIKE.otf");
}

.myStyle {
	font: 150px "RudFont";
}

#fs {
	max-width: 100%;
}

.title {
	margin-bottom: 2px;
	margin-left: -15px;
	font-size: 25px;
	display: inline-block;
	-webkit-transform: scale(0.8,1); /* Safari and Chrome */
	-moz-transform: scale(0.8,1); /* Firefox */
	-ms-transform: scale(0.8,1); /* IE 9 */
	-o-transform: scale(0.8,1); /* Opera */
	transform: scale(0.8,1); /* W3C */
	margin-block-start: 0em;
    /*margin-block-end: 0em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
}

/* OTVar Sliders: */

.subcontainer {
	width: 49.2%;
	padding: 0 0 0 0.2%;
	margin: auto;
	display: inline-block;
}

.halfdiv {
	min-width: 20%;
	padding: 0 0 0 0.2%;
	margin: auto;
	display: inline-block;
}

.halfdiv2 {
	width: 50%;
	padding: 0 0 0 0.2%;
	margin: auto;
	display: inline-block;
	margin-top: 4px;
}

.labeldiv {
	width: 49.2%;
	padding: 0 0 0 0.2%;
	margin: auto;
	display: inline-block;
}

label {
	z-index: 2;
	position: absolute;
	pointer-events: none;
	height: 2em;
	margin: 0;
	padding: 0.5em 1em;
	vertical-align: text-top;
	font: x-small sans-serif;
	color: black;
	opacity: 0.5;
}

.slider {
	z-index: 1;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 2em;
	border-radius: 5px;
	background: #eee;
	padding: auto;
	margin: auto;
}

.slider::-webkit-slider-thumb {
	z-index: 3;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 2em;
	border-radius: 5px;
	background: #777;
	cursor: auto;
}

/* Feature Buttons: */

#featureControls {
	font-size: x-small;
	font-family: sans-serif;
	padding: 0 0.2%;
}

#featureControls .emojiButton {
	vertical-align: -50%;
	font-size: small;
}

.emojiButton {
	cursor: pointer;
}

.otFeatureLabel, .otFeature {
	font-size: small;
	position: relative;
	opacity: 1;
	pointer-events: auto;
	white-space: nowrap;
}

.otFeatureLabel, select {
	padding: 0.2em 0.5em 0.3em 0.5em;
	margin: 0 .04em;
	line-height: 2em;
	color: #666;
	background-color: #ddd;
	border-radius: 0.3em;
	border: 0;
	text-align: center;
	z-index: 6;
}

select {
	/*position: absolute;*/
	/*margin: 0.2em 0.5em;*/
	height: 2.1em;
	font: x-small sans-serif;
	vertical-align: bottom;
}

.otFeature {
	visibility: collapse;
	margin: 0 -1em 0 0;
}

input[type=checkbox]:checked + label {
	visibility: visible;
	color: #eee;
	background-color: #555;
	position: relative;
}

.otFeatureLabel .tooltip {
	visibility: hidden;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 0px 5px;
	top: -2em;
	left: 0;
	position: absolute;
	z-index: 8;
}

.otFeatureLabel:hover .tooltip {
	visibility: visible;
}

/* Sample Text Area: */

#textarea {
	padding-top: 40px;
	/*text-transform: uppercase;*/
	flex: 1 1 auto;
	border: 0 solid transparent;
	margin: auto;
	padding: 0 0 0.6em 0;
	line-height: 1em;
	width: 100%;
	color: black;
	font: 150px "RS Auto";
	font-feature-settings: "kern" on, "liga" on, "calt" on, "locl" on;
	-moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "locl" on;
	-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "locl" on;
	-ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "locl" on;
	-o-font-feature-settings: "kern" on, "liga" on, "calt" on, "locl" on;
	font-variation-settings: "wght" 10;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
}

.○ {
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: #FFF0;
}

.RUD {
	font: 150px "Rud Font";
}

div:focus {
	outline: 0px solid transparent;
}
			
/* Footer paragraph: */

#helptext {
	position: fixed;
	background: transparent;
	bottom: 0;
	width: 100%;
	color: #888;
	font: x-small sans-serif;
}

a {
	color: #333;
}
			
/* Dark Mode: */

@media screen and (min-width: 6px) {
	body {
		background: #000;
	}
	
	p {
		color: #C3C8CD;
	}
	
	#textInput {
		color: #C3C8CD;
		background-color: #222;
		background: #222;
	}
	
	label {
		color: #fff;
	}
	
	.otFeatureLabel {
		color: #999;
		background-color: #333;
	}
	
	input[type=checkbox]:checked + label {
		color: #111;
		background-color: #888;
	}
	
	select {
		color: #111;
		background-color: #888;
	}
	
	.slider {
		background: #333;
	}
	
	.slider::-webkit-slider-thumb {
		background: #888;
	}
	
	a {
		color: #ccc;
	}
	
	#controls {
		background-color: black;
	}
	
	#textarea {
		color: #C3C8CD;
		background-color: black;
	}
	
	.○ {
		-webkit-text-stroke: 1px white;
		-webkit-text-fill-color: #0000;
	}
}
			
	