[contenteditable] {
  outline: 0px solid transparent;
}

/* #### SOURCE SANS VARIABLE ####
Download it here:
https://github.com/adobe-fonts/source-sans-pro/releases/tag/variable-fonts

1 axis:
"wght" 200 – 900  (Weight)
*/

@font-face {
	font-family: "RS Auto";
	src: url("./RSAutoGX.ttf")
       format("truetype");
}

.source-sans-variable {
  font-family: 'RS Auto', sans-serif;
  font-variation-settings: "wght" 10;
  font-size: 3rem;
}

.source-sans-variable:hover {
  font-variation-settings: "wght" 300;
}





/* #### SOURCE SERIF VARIABLE ####
Download it here:
https://github.com/adobe-fonts/source-sans-pro/releases/tag/variable-fonts

1 axis:
"wght" 200 – 900  (Weight)
*/

@font-face {
	font-family: "RS Cursed";
	src: url("./RSCursedGX.ttf")
       format("truetype");
}

.source-serif-variable {
  font-family: 'RS Cursed', serif;
  font-size: 3rem;
  font-variation-settings: "wght" 100;
}

.source-serif-variable:hover {
  font-variation-settings: "wght" 200;
}





/* #### VOTO SERIF GX ####
Download it here:
https://github.com/twardoch/varfonts-ofl/tree/master/VotoSerifGX-OFL

3 axes:
"wght" 28 – 194 (Weight)
"wdth" 50 – 130 (Width)
"opsz" 12 – 72  (Optical Size)
*/

@font-face {
	font-family: "RS Faded";
	src: url("./RUDGX.ttf")
       format('truetype');
}

.voto-serif-gx {
  font-family: 'RS Faded', serif;
  font-variation-settings: "wght" 10;
  font-size: 3rem;
  text-transform: uppercase;
 }

.voto-serif-gx:hover {
  font-variation-settings: "wght" 400;
 }





/* #### FF META VF ####
Download it here:
https://www.monotype.com/fonts/variable-fonts

2 axes:
"wght" 100 – 900  (Weight)
"ital" 0 – 1      (Italic)
*/

@font-face {
	font-family: "RS High Tide";
	src: url("./RSHiTide-Rounded.otf")
       format("opentype");
}

.ff-meta-vf {
  font-family: 'RS High TIde', sans-serif;
  font-size: 3rem;
  font-variation-settings: "size" 400, "ital" 0;
}

.ff-meta-vf:hover {
  font-size: 5rem;
  font-variation-settings: "wght" 900, "ital" 1;
}





/* #### VENN VF ####
Download it here:
https://daltonmaag.com/library/venn

"wght" 300 – 800  (Weight)
"wdth" 75 – 125    (Width)
*/

@font-face {
	font-family: "RS Biotin";
	src: url("./Biotin-Regular.otf")
       format("opentype");
}

.venn-vf {
  font-family: 'RS Biotin', sans-serif;
  font-size: 3rem;
  font-variation-settings: "wght" 400, "wdth" 100;
  text-transform: uppercase;
}

.venn-vf:hover {
  font-size: 8rem;
  font-variation-settings: "wght" 800, "wdth" 125;
}





/* #### ROSLINDALE ####
This font can only be used for demo purposes. License it here:
http://djr.com/roslindale/

2 axes:
"wght" 300 – 700 (Weight)
"opsz" 12 – 48  (Optical Size)
*/

@font-face {
	font-family: "RS Professor";
	src: url("./RSProfessor-Regular.otf")
       format('opentype');
}

.roslindale {
  font-family: 'RS Professor', serif;
  font-size: 6rem;
  font-variation-settings: "wght" 300, "opsz" 12;
 }

.roslindale:hover {
  font-size: 8rem;
  font-variation-settings: "wght" 700, "opsz" 48;
 }


/* DEMO CONTROLS */
.demo-box {
	height: 10rem;
  /*transition: all 0.5s ease-out;*/
}



.controls{
  /*display: none;*/
}

#flexbox {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#controls {
  flex: 0 1 auto;
  background-color: transparent;
  margin: 2px 0 0 0;
  padding: 0;
  width: 100%;
  border: 0px solid transparent;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.labeldiv {
  width: 49.2%;
  padding: 0 0 0 0.2%;
  margin: auto;
  display: inline-block;
}

label {
  z-index: 2;
  position: absolute;
  pointer-events: none;
  height: 2em;
  margin: 0;
  padding: 0.5em 1em;
  vertical-align: text-top;
  font: x-small sans-serif;
  color: black;
  opacity: 0.5;
}

.slider {
  z-index: 1;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 2em;
  border-radius: 5px;
  /*background: #ece8d194;*/
  background: rgba(235, 231, 255, 0);
  padding: auto;
  margin: auto;
}

.slider::-webkit-slider-thumb {
  z-index: 3;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 2em;
  border-radius: 5px;
  background: #777;
  cursor: auto;
}


/* NEW RANGE */
input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #ECE8D1;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ECE8D1;
	/*box-shadow: 0 0 4px 0 rgba(0,0,0, 1);*/
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ECE8D1;
}
.range-wrap{
	width: 500px;
	position: relative;
}
.range-value{
	position: absolute;
	top: -50%;
}
.range-value span{
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #ECE8D1;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #03a9f4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}
/* END NEW SLIDER */

/* Feature Buttons: */

#featureControls {
  font-size: x-small;
  font-family: sans-serif;
  padding: 0 0.2%;
}

#featureControls .emojiButton {
  vertical-align: -50%;
  font-size: small;
}

.emojiButton {
  cursor: pointer;
}

.otFeatureLabel, .otFeature {
  font-size: small;
  position: relative;
  opacity: 1;
  pointer-events: auto;
  white-space: nowrap;
}

.otFeatureLabel, select {
  padding: 0.2em 0.5em 0.3em 0.5em;
  margin: 0 .04em;
  line-height: 2em;
  color: #666;
  background-color: #ddd;
  border-radius: 0.3em;
  border: 0;
  text-align: center;
  z-index: 6;
}

select {
  /*position: absolute;*/
  /*margin: 0.2em 0.5em;*/
  height: 2.1em;
  font: x-small sans-serif;
  vertical-align: bottom;
}

.otFeature {
  visibility: collapse;
  margin: 0 -1em 0 0;
}

input[type=checkbox]:checked + label {
  visibility: visible;
  color: #eee;
  background-color: #555;
  position: relative;
}

.otFeatureLabel .tooltip {
  visibility: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0px 5px;
  top: -2em;
  left: 0;
  position: absolute;
  z-index: 8;
}

.otFeatureLabel:hover .tooltip {
  visibility: visible;
}

.dropdown-button {
  display: block;
  margin: 0 right;
  width: 200px;
  height: 40px;
  background: #ff725d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.dropdown-button span {
  z-index: 0;
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: block;
  width: 40%;
  background: white;
  height: 7px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.small{
  width:100px;
}


/* ####################################
#### ONLY BASIC STYLING BELOW THIS ####
####################################### */

body{
  margin:0px;
  /*padding:8px;*/
}



div{
  padding:8px;
/*  -webkit-transition: -webkit-transform 1s ease-in;
     -moz-transition: -moz-transform 1s ease-in;
      -ms-transition: -ms-transform 1s ease-in;
          transition: transform 1s ease-in;*/

}



.font-demo {
  /*font-size: 3rem;*/
  transition: all 0.5s ease-out;
  text-shadow: 0 0 0 rgb(0,0,0); /* Hack for better displaying the font */
}

.info {
  font-size: 1rem;
  margin: 0.2rem 0 1rem;
  padding-left: 0.25rem;
  font-family: monospace;
  color: #444;
}

.title {
  font-size: 1rem;
  /*margin: 0.2rem 0 1rem;*/
  padding-left: 0.25rem;
  font-family: monospace;
  color: #444;
}

#zero{
  position: fixed;
  width:100%;
  /*display: inline-block;*/
}

#zero, #zero p{
  background-color: black;
  color: white;
}

#one{
  padding-top: 4em;
}

#one, #one p{
  background-color: #E73021;
  color: #ECE8D1;
}

#one:hover div{
  font-variation-settings: "wght" 300;
}

#two{
  background-color: #E2E2E0;
}

#two:hover div{
  font-variation-settings: "wght" 200;
}


#three, #three p{
  background-color: #0094DE;
  color: #CBF2F8 !important;
}

#three:hover div{
  font-variation-settings: "wght" 400;
 }

#four{
  background-color: #C5FC77;
  /*color: #000000;*/
}

#four:hover div{
  /*font-size: 5rem;*/
 }

 #five, #five p{
   background-color: #000;
   color: #fff;
 }

 #five:hover div{
   /*font-size: 8rem;*/
  }

  

  #six, #six p{
    background-color: #fff;
    color: #7657BE;
  }

  #six:hover div{
    /*font-size: 8rem;*/
   }




