body {
	font-family: 'Libre Franklin', sans-serif;
	color: rgba(0, 0, 0, 0.86);
	/*font-size: 16px;*/
}

/*body:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-color: #ff0000;
}*/

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden;
    padding-top: 20px;
    align-content: center;
    justify-content: center;
}

#portfolio:hover {
	color: red;
}

#resume:hover {
	color: orange;
}

#contact:hover {
	color: green;
}

#help {
	position: absolute;
	bottom: 15px;
	left: 0;
}

#help:hover {
	color: blue;
}

.p-img {
	max-height:100vh; max-width:100%;
}


#name {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-weight:bold;
	/*font-size: 25px;*/
	display: block;
}

#name:hover {
	color: #139c64;
}

#title {
	font-weight:bold;
	padding-left: 0px;
	margin-bottom: -10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /*font-size: 25px;*/
    color: black;
    display: block;
    margin-bottom:5%;
    margin-top: 5%;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    margin-right: 5%;
    /*font-size: 28px;*/ /* Increased text to enable scrolling */
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 480px) {
	body {
			color: red;
		}
	.sidenav {
			width: 100px;
		}
	.main {
		margin-left: 100px;
	}
}
/*Dynamic Font Size */
/* 16px @ 480px increasing to 32px @ 1920px */
@media (min-width: 480px) {
  :root {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
    /* Where: * 1.1111 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
  
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
  :root {
    font-size: 32px;
  }
  
 
  
}