.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.items__inner {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 800px;
  background: #fff;
}
.items__layer .items__item {
  position: absolute;
  box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}
.items__layer .items__item:after {
  content: attr(data-title);
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: hidden;
  opacity: 0;
}
.items__layer .items__item:hover:after {
  visibility: visible;
  opacity: 1;
}
.items__layer:nth-child(1) .items__item {
  top: 200px;
  left: 120px;
  width: 340px;
  height: 340px;
  background: #9FBEBD;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
}
.items__layer:nth-child(1) .items__item:after {
  top: -23px;
  left: 0;
  color: #9FBEBD;
}
.items__layer:nth-child(2) .items__item {
  top: 440px;
  left: 400px;
  width: 240px;
  height: 200px;
  background: #413E4A;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
}
.items__layer:nth-child(2) .items__item:after {
  bottom: -23px;
  right: 0;
  color: #413E4A;
}
.items__layer:nth-child(3) .items__item {
  top: 400px;
  left: 160px;
  width: 300px;
  height: 300px;
  background: #F0B49E;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
}
.items__layer:nth-child(3) .items__item:after {
  bottom: -23px;
  left: 0;
  color: #C16C56;
}
.items__layer:nth-child(4) .items__item {
  top: 100px;
  left: 400px;
  width: 350px;
  height: 480px;
  background: #B38184;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
}
.items__layer:nth-child(4) .items__item:after {
  top: -23px;
  right: 0;
  color: #B38184;
}
.items__layer:nth-child(5) .items__item {
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
  background: #F7E4BE;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.items__layer:nth-child(5) .items__item:after {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  color: #C16C56;
}

/*Important:*/
.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}  

@media only screen and (max-width: 500px) {
.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.items__inner {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 800px;
  background: #fff;
}
.items__layer .items__item {
  position: absolute;
  box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}
.items__layer .items__item:after {
  content: attr(data-title);
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: visible;
  opacity: 1;
}
.items__layer .items__item:hover:after {
  visibility: visible;
  opacity: 1;
}
.items__layer:nth-child(1) .items__item {
  top: 200px;
  left: 120px;
  width: 340px;
  height: 340px;
  background: #9FBEBD;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.items__layer:nth-child(1) .items__item:after {
  top: -23px;
  left: 0;
  color: #9FBEBD;
}
.items__layer:nth-child(2) .items__item {
  top: 440px;
  left: 400px;
  width: 240px;
  height: 200px;
  background: #413E4A;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.items__layer:nth-child(2) .items__item:after {
  bottom: -23px;
  right: 0;
  color: #413E4A;
}
.items__layer:nth-child(3) .items__item {
  top: 400px;
  left: 160px;
  width: 300px;
  height: 300px;
  background: #F0B49E;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.items__layer:nth-child(3) .items__item:after {
  bottom: -23px;
  left: 0;
  color: #C16C56;
}
.items__layer:nth-child(4) .items__item {
  top: 100px;
  left: 400px;
  width: 350px;
  height: 480px;
  background: #B38184;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.items__layer:nth-child(4) .items__item:after {
  top: -23px;
  right: 0;
  color: #B38184;
}
.items__layer:nth-child(5) .items__item {
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
  background: #F7E4BE;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.items__layer:nth-child(5) .items__item:after {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  color: #C16C56;
}

/*Important:*/
.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
} 
}
